<div class="relatorio">
    <dash-card>
        <dash-card-header>
            <div class="header">
                <span>Ultima mensagem enviada</span>
                <mat-form-field class="form-field">
                    <mat-label>Selecione o canal</mat-label>
                    <mat-select (valueChange)="updateCurrentChannel($event)">
                        <mat-option *ngFor="let channel of (channels$ | async)" [value]="channel">
                            {{ channel.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </dash-card-header>
        <dash-card-content>
            <div *ngIf="(userLastSendedMessage$ | async)?.length > 0; else noContent">
                <mat-list>
                    <ng-container *ngFor="let item of (userLastSendedMessage$ | async) | slice : currentPage * pageSize : (currentPage + 1) * pageSize ">
                        <div class="list-item">
                            <mat-list-item class="item">
                                <p><strong>{{ item.name }}</strong> {{ item.lastMessageElapsedTime }}.</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                    </ng-container>
                </mat-list>
            </div>
            <ng-template #noContent>
                <div class="no-content">
                    <div *ngIf="(currentChannel$ | async); else noChannel">
                        <p>Parece que não foi encontrado nenhum dado :(</p>
                    </div>
                    <ng-template #noChannel>
                        <p>Nenhum canal selecionador</p>
                        <small>Selecione algum canal para ver os dados</small>
                    </ng-template>
                </div>
            </ng-template>
        </dash-card-content>
        <dash-card-footer>
            <mat-paginator 
                [hidePageSize]="true"
                [length]="(userLastSendedMessage$ | async)?.length"
                [pageSize]="8"
                (page)="updatePage($event)">
            </mat-paginator>
        </dash-card-footer>
    </dash-card>
</div>