<header>
    <h2>Bem-vindo ao Dashboard ChatEA</h2>
    <p>Acompanhe o uso do chat com os gráficos abaixo</p>
</header>
<div class="container">
    <div class="thiry-days-messages-n-users-info">
        <div class="relatorio5">
            <dash-messages-in-last-thirty-days></dash-messages-in-last-thirty-days>
        </div>
        <div class="basic-info">
            <div class="info-card">
                <dash-online-users></dash-online-users>
            </div>
            <div class="info-card">
                <dash-offline-users></dash-offline-users>
            </div>
            <div class="info-card">
                <dash-messages-in-last-thirty-days-count></dash-messages-in-last-thirty-days-count>
            </div>
        </div>
    </div>
    <div class="user-per-channel-n-most-tagged">
        <div class="relatorio1">
            <dash-users-messages-per-channel></dash-users-messages-per-channel>
        </div>
        <div class="relatorio4">
            <dash-most-tagged-users></dash-most-tagged-users>
        </div>
    </div>
    <div class="relatorio2-n-channel-user-count">
        <div class="relatorio2">
            <dash-last-sended-message-elapsed-time></dash-last-sended-message-elapsed-time>
        </div>
        <div class="channel-user-count">
            <dash-channel-user-count></dash-channel-user-count>
        </div>
    </div>
    <div class="msg-reply-count-n-others">
        <div>
            <div class="dash-messages-count-per-hour">
                <dash-messages-count-per-hour></dash-messages-count-per-hour>
            </div>
            <dash-most-mentioned-by-owner-users></dash-most-mentioned-by-owner-users>
        </div>
        <dash-most-replied-messages></dash-most-replied-messages>
    </div>
</div>